<ion-card
  class="rounded-lg border-2 border-primary bg-cover bg-center text-white"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"
>
  <ion-card-header>
    <ion-card-title class="font-bold text-white dark:text-white">
      ABC 123
    </ion-card-title>
    <ion-card-subtitle class="text-white dark:text-white"
      >Welcome, User</ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content class="dark:text-white font-medium">
    Current Location - Mahkota Parade
  </ion-card-content>
</ion-card>
